<html>
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js" integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
		<style>
		.input {
			vertical-align:bottom;
		}
		</style>
	</head>
    <body>
        <div id="app" style="display: none;">
		
			<div class="ui basic modal">
			  <div class="ui icon header">
				<i class="trash icon"></i>
				Delete Link
			  </div>
			  <div class="content">
				<p>Are you sure you want to delete the link?</p>
			  </div>
			  <div class="actions">
				<div class="ui red basic cancel inverted button">
				  <i class="remove icon"></i>
				  No
				</div>
				<div class="ui green ok inverted button">
				  <i class="checkmark icon"></i>
				  Yes
				</div>
			  </div>
			</div>
			
			<div class="ui tiny modal">
			  <div class="header">
				Delete Link
			  </div>
			  <div class="content">
				<p>Are you sure you want to delete this link?</p>
			  </div>
			  <div class="actions">
				<div class="ui black deny button">
				  No
				</div>
				<div class="ui positive right labeled icon button">
				  Yes
				  <i class="checkmark icon"></i>
				</div>
			  </div>
			</div>
		
            <div class="ui very padded container">
                <br>
                
                <form class="ui form" id="form">
                  <div class="fields">
                    <div class="required field">
                      <label>Url</label>
                      <input type="url" placeholder="https://example.com/example" required>
                    </div>
                    <div class="field">
                      <label>Short</label>
                      <div class="ui labeled input">
                        <div class="ui label">
                          {{domain}}
                        </div>
                        <input type="text" placeholder="Blank for random">
                      </div>
                    </div>
                  </div>
                  <button class="ui primary button" type="submit">Submit</button>
                </form>
                
                <div class="ui action input" v-if="short.done">
                  <input id="copy" type="text" v-bind:value="'{{domain}}'+short.id">
                  <button class="ui teal right labeled icon button" onclick="$('#copy').select(); document.execCommand('copy');">
                    <i class="copy icon"></i>
                    Copy
                  </button>
                </div>
                
                <br>
                <br>
                	
				<button class="ui icon button" onclick="refresh(this)">
				  <i class="retweet icon"></i>
				</button>
				<div class="ui icon input">
				  <input type="text" placeholder="Search..." id="search">
				  <i class="search icon"></i>
				</div>
				
                <table class="ui celled table tablet stackable">
                  <thead>
                    <tr><th>Long</th>
                    <th>Short</th>
                    <th>Delete</th>
                  </tr></thead>
                  <tbody v-if="loading">
                    <tr>
                      <td>Loading...</td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                  <tbody v-if="!loading">
                    <tr class="searchq" v-for="link in info">
                      <td><a v-bind:href="link.url" target=”_blank”>{{link.url}}</a></td>
                      <td><a v-bind:href="'{{domain}}'+link.id" target=”_blank”>{{domain}}{{link.id}}</a></td>
                      <td>
                        <button class="ui icon button" v-bind:onclick="'deleteLink(\u0022'+link.id+'\u0022, this)'">
                          <i class="trash icon"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                
                <br>
            </div>
        </div>
    </body>
    <script>
    const app = new Vue({
      el: '#app',
      data () {
        return {
          info: null,
          loading: true,
          short: {
              done: false,
              id: ""
          }
        }
      },
      mounted () {
          refresh();
      },
	  methods: {
		search($event) {
			console.log($event.currentTarget.value);

		}
	  }
    })
	
	$('#search').bind('input',function(){
		for(var i=0; i<$(".searchq").length; i++) {
			if($(".searchq").eq(i).find("a").eq(0).attr("href").includes($("#search").val())) {
				$(".searchq").eq(i).show();
			} else {
				$(".searchq").eq(i).hide();
			}
		}
	});
        
    function refresh(ele) {
        $(ele).addClass("loading");
        axios
          .get(
            '{{domain}}api/link',
            {
                headers: { Authorization: `Bearer v^zjH9@ST3f@4CU8Cvuf!BqAxuK` }
            }
          )
          .then(response => {
            app.info = response.data.reverse();
          })
          .catch(error => {
            console.log(error)
            setTimeout(function(){ refresh(); }, 3000);
          })
          .finally(() => {
             $(ele).removeClass("loading");
             app.loading = false
          })
    }
        
    //CREATE LINK
	$("#form").on("submit", function(e){
        $("#form").addClass("loading");
		e.preventDefault();
        
        axios
          .post(
            '{{domain}}api/link',
            {
              url: $("#form").find("input").eq(0).val(),
              id: $("#form").find("input").eq(1).val()
            },
            {
                headers: { Authorization: `Bearer v^zjH9@ST3f@4CU8Cvuf!BqAxuK` }
            }
          )
          .then(response => {
            $("#form").find("input").val("");
            app.short.done = true;
            app.short.id = response.data.id;
          })
          .catch(error => {
            console.log(error)
          })
          .finally(() => {
            $("#form").removeClass("loading");
			refresh();
          })
	});
        
    function removeLink(id, ele) {
        $(ele).addClass("loading");
        axios
          .delete(
            '{{domain}}api/link/'+id,
            {
                headers: { Authorization: `Bearer v^zjH9@ST3f@4CU8Cvuf!BqAxuK` }
            }
          )
          .then(response => {
            
          })
          .catch(error => {
            console.log(error)
          })
          .finally(() => {
            refresh();
          })
    }

    function deleteLink(id, ele) {
	
		$('.ui.tiny.modal')
		  .modal({
			closable  : true,
			onDeny    : function(){
			  return true;
			},
			onApprove : function() {
			  removeLink(id, ele);
			}
		  })
		  .modal('show');
    }
        
    $("#app").show();
    </script>
</html>